<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viz.nextagram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name="com.example.viz.nextagram.SyncDataService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.viz.nextagram.SyncDataService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <provider
            android:authorities="com.example.viz.nextagram"
            android:name=".NextagramProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.viz.nextagram.READ"
            android:writePermission="com.example.viz.nextagram.WRITE" />

        <activity
            android:name=".HomeView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WritingArticleView"
            android:label="ArticleWrite">
            <intent-filter>
                <action android:name=".WritingArticleView" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleView"
            android:label="ArticleView">
            <intent-filter>
                <action android:name=".ArticleView" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



    </application>

</manifest>
