<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nhnnext.nextagram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        android:supportsRtl="true">

        <service
            android:name="com.nhnnext.nextagram.SyncDataService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nhnnext.nextagram.SyncDataService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <provider
            android:authorities="com.nhnnext.nextagram"
            android:name="com.nhnnext.nextagram.NextagramProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.nhnnext.nextagram.READ"
            android:writePermission="com.nhnnext.nextagram.WRITE" />

        <activity
            android:name="com.nhnnext.nextagram.HomeView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhnnext.nextagram.WritingArticleView"
            android:label="ArticleWrite">
            <intent-filter>
                <action android:name=".WritingArticleView" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhnnext.nextagram.ArticleView"
            android:label="ArticleView">
            <intent-filter>
                <action android:name=".ArticleView" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
